//Colors
$color-primary: #55c57a;
$color-primary-dark: #28b485;
$color-primary-light: #7ed56f;

$color-secondary-dark: #fbb900;
$color-secondary-light: #ff7730;

$color-tertiary-dark: #2998ff;
$color-tertiary-light: #5643fa;

$color-black: #000;
$color-white: #fff;
$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;
$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eeeeee;

// Font
$default-font-size: 1.6rem;

//Grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
